/*Google Fonts*/

body, html{
	height: 100%;
	width:100%;
}
body{
    font-family: Montserrat, sans-serif
}

.copy-content{
	float: left;
	width:100%;
}
.text-primary{
	color: #B47F41!important;
    font-size: 60px;
    text-align: center

}
.copy-content p {
    text-align: center;
    font-size: 20px
}


p .bold {
    font-weight:bold
}
.sec-bg-02{
	background:url(../images/tours/wine.jpg);
	background-repeat: no-repeat;
	background-position: top left;	
	background-size: cover;
}



.copy-content-sec{
	float: left;
	width:100%;
	padding:5rem 0;
	position: relative;
	z-index: 1;
}

.copy-container{
	display: flex;
	align-items: center;
}

@media (max-width: 991px){
	.container{
		width: 100%;
	}
}
